@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  --background-color-global: rgb(11, 25, 23);
  --overlay-gradient: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5));
  --overlay-menu-gradient: linear-gradient(rgba(1, 10, 5, 0.75), rgba(1, 10, 5, 0.75));
  --overlay-gradient-darker: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75));
  --add-overlay: linear-gradient(to bottom, rgba(0, 24, 38, 0.5) 0%,rgba(0, 37, 49, 0) 20%);
  --add-overlay-darker: linear-gradient(to bottom, rgba(0, 24, 38, 0.75) 0%,rgba(0, 37, 49, 0) 30%,rgba(0, 37, 49, 0) 70%,rgba(0, 24, 38, 0.75) 100%);
  --add-overlay-lighter: linear-gradient(to bottom, rgba(0, 24, 38, 0.25) 0%,rgba(0, 37, 49, 0) 30%,rgba(0, 37, 49, 0) 70%,rgba(0, 24, 38, 0.25) 100%);
  --add-overlay-tablet: linear-gradient(to bottom, rgba(0, 24, 38, 0.75) 0%,rgba(0, 37, 49, 0) 55%);
  --add-overlay-mobile: linear-gradient(to bottom, rgba(0, 24, 38, 0.75) 0%,rgba(0, 37, 49, 0) 45%);
}
.body {
  font-family: "Inter", sans-serif;  
  min-height: 100vh;
  width: 100%;
}

.bg-overlay{
  background-color: var(--background-color-global);
}
.bg-overlay-menu {
  background-color: var(--overlay-menu-gradient);
}
.container{
  @apply mx-auto xs:w-full px-[20px] sm:w-[480px] md:w-[768px] md:px-[32px] xl:w-[1280px] xl:px-[20];
}
.section {
  @apply py-[56px] md:py-[64px] xl:py-[80px] bg-overlay;
}
.section-hero{
  @apply  pb-[56px] pt-[105px] md:pb-[64px] md:pt-[121px] xl:pb-[80px] xl:pt-[106px];
}
.input-form {
  @apply relative w-full bg-white/5 h-[24px]  px-[8px] xl:h-[28px];
}
.input-form-text {
  @apply   text-[13px] font-extralight leading-[1.85] xl:text-[20px] xl:leading-[1.2] placeholder:text-white/20;
}
.label-form {
  @apply block text-[12px] font-extralight leading-[2] tracking-[2.4px];
}

.error-message::before{
  position: absolute;
  content: '';
  left: -20px;
  top: 3px;
  width: 18px;
  height: 18px;
  background-image: url('/assets/icons/cross.svg');
}
.social::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: -1px;
  left: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out ;
}
.social:hover::after,
.social:focus::after {
  opacity: 1;
}
.rhombus-sign::before {
  position: absolute;
  contain: '';
  width: 6px;
  height: 6px;
  left: -18px;
  top: 50%;
  transform:  translateY(-50%) rotate(45deg);
  background-color: #fff;
}

.checkmark::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: rgba(255, 255, 255, 0.1);
}

.confirmation-checkbox:checked ~ .checkmark::after {
  background-color: rgba(255, 255, 255, 0.75);
}

.confirmation-checkbox:focus ~ .checkmark {
  @apply border-white/75;
}

/* Hero*/
.grid {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(3, auto); 
  gap: 24px;
}

.days {
  grid-column: 1; 
  grid-row: 1;   
}
.title {
  grid-column: 1;
  grid-row: 2; 
}

.description {
  grid-column: 1; 
  grid-row: 3; 
}
.hero-btn::before {
  position: absolute;
  content: '';
  width: 42px;
  height: 53px;
  top: 0;
  left: 0;
  background-image: url('/assets/icons/mobile/frame-left.svg');
}
.hero-btn::after {
  position: absolute;
  content: '';
  width: 42px;
  height: 53px;
  top: 0;
  right: 0;
  background-image: url('/assets/icons/mobile/frame-right.svg');
}

/* About*/

.grid-1 {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(4, auto);
}
.about-title {
  grid-column: 1; 
  grid-row: 1;   
}
.about-text {
  grid-column: 1; 
  grid-row: 2;   
}
.about-slogan {
  grid-column: 1; 
  grid-row: 3;
  display: flex; 
  align-self: flex-end;
}
.about-methods {
  grid-column: 1; 
  grid-row: 4;   
}



  @media screen and (min-width: 768px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: repeat(2, auto);
      gap: 0;
    }
    .days {
      grid-column: 2; 
      grid-row: 1;    
    }
   
    .title {
      grid-column: 1;
      grid-row: 1 / span 2; 
    }
    
    .description {
      grid-column: 2; 
      grid-row: 2;
      justify-content: center;
    }
    .hero-btn::before {
      position: absolute;
      content: '';
      width: 35px;
      height: 50px;
      top: 0;
      left: 0;
      background-image: url('/assets/icons/tablet/frame-left.svg');
    }
    .hero-btn::after {
      position: absolute;
      content: '';
      width: 35px;
      height: 50px;
      top: 0;
      right: 0;
      background-image: url('/assets/icons/tablet/frame-right.svg');
    }

    .grid-1 {
      display: grid;
      grid-template-columns: 3fr; 
      grid-template-rows: repeat(3, auto);
     
    }
    .about-title {
      grid-column: 1/3; 
      grid-row: 1; 
    }
    .about-text {
      grid-column: 3; 
      grid-row: 1/3;   
    }
    .about-slogan {
      grid-column: 1; 
      grid-row: 2; 
      align-self: end;  
    }
    .about-methods {
      grid-column: 2/ span 2; 
      grid-row: 3;   
    }
  }

  @media screen and (min-width: 1280px){
    .hero-btn::before {
      position: absolute;
      content: '';
      width: 44px;
      height: 71px;
      top: 0;
      left: 0;
      background-image: url('/assets/icons/desktop/frame-left.svg');
    }
    .hero-btn::after {
      position: absolute;
      content: '';
      width: 44px;
      height: 71px;
      top: 0;
      right: 0;
      background-image: url('/assets/icons/desktop/frame-right.svg');
    }
    .grid-1 {
      display: grid;
      grid-template-columns: 4fr; 
      grid-template-rows: repeat(3, auto);
     
    }
    .about-title {
      grid-column: 1/span 1; 
      grid-row: 1; 
    }
    .about-text {
      grid-column: 3; 
      grid-row: 1/3;   
    }
    .about-slogan {
      grid-column: 4; 
      grid-row: 3; 
      align-self: end;  
    }
    .about-methods {
      grid-column: 1/ span 1; 
      grid-row: 3;   
    }

  }


  .gallery-slider .swiper-wrapper {
    align-items: center;
  }
  
  .gallery-slider .swiper-slide {
    scale: 0.55;
    transition: scale 1000ms linear !important;
  }
  
  .gallery-slider .swiper-slide-prev,
  .gallery-slider .swiper-slide-next {
    width: 121px !important;
    height: 87px;
    scale: 1;
  }
  .gallery-slide .swiper-slide-prev::after,
  .gallery-slide .swiper-slide-next::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-gradient-darker);
  }
  
  .gallery-slider .swiper-slide-active {
    flex-shrink: 0;
    width: 415px !important;
    height: 294px !important;
    scale: 1;
    animation: slide-active-scale 1500ms linear;
  }
  
  @media screen and (min-width: 1280px) {
    .gallery-slider .swiper-slide {
      scale: 0.77;
    }
  
    .gallery-slider .swiper-slide-active {
      flex-shrink: 0;
      width: 606px !important;
      height: 429px !important;
      scale: 1;
    }
  
    .gallery-slider .swiper-slide-prev,
    .gallery-slider .swiper-slide-next {
      width: 290px !important;
      height: auto;
      scale: 1;
    }
  }
  
  @keyframes slide-active-scale {
    0% {
      transform: scale(0.55);
    }
    100% {
      transform: scale(1);
    }
  }


  /* Backgrounds */  
 
    .hero {
      height: 642px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-mobile),
      url('/assets/images/backgrounds/hero/mobile/hero.jpg');
    }  
    .about {
      height: 873px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-mobile),
      url('/assets/images/backgrounds/about/mobile/about.jpg');
    }  
    .contacts {
      height: 856px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient-darker),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/contacts/mobile/contacts.jpg');
    }
    .career {
      height: 826px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient-darker),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/career/mobile/career.jpg');
    }
    .gallery {
      height: 801px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient-darker),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/gallery/mobile/gallery.jpg');
    }
    .service-atvs {
      height: 851px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/services/mobile/service-01-bg.jpg');
    }
    .service-climbing {
      height: 851px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/services/mobile/service-02-bg.jpg');
    }
    .service-balloon {
      height: 851px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/services/mobile/service-03-bg.jpg');
    }
    .service-skydiving {
      height: 851px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/services/mobile/service-04-bg.jpg');
    }
    .service-rafting {
      height: 851px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/services/mobile/service-05-bg.jpg');
    }

      

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-mobile),
      url('/assets/images/backgrounds/hero/mobile/hero@2x.jpg');   
  }
  .about {   
      height: 873px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay),
      url('/assets/images/backgrounds/about/mobile/about@2x.jpg');   
  }
  .contacts {
    height: 856px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient-darker),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/contacts/mobile/contacts@2x.jpg');
  } 
  .career {
    height: 826px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient-darker),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/career/mobile/career@2x.jpg');
  }
  .gallery {
    height: 801px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient-darker),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/gallery/mobile/gallery@2x.jpg');
  } 
  .service-atvs {
    height: 851px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/services/mobile/service-01-bg@2x.jpg');
  }
  .service-climbing {
    height: 851px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/services/mobile/service-02-bg@2x.jpg');
  }
  .service-balloon {
    height: 851px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/services/mobile/service-03-bg@2x.jpg');
  }
  .service-skydiving {
    height: 851px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/services/mobile/service-04-bg@2x.jpg');
  }
  .service-rafting {
    height: 851px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/services/mobile/service-05-bg@2x.jpg');
  }

}

  @media screen and (min-width: 480px) {
    .about {
      height: 833px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-mobile),
      url('/assets/images/backgrounds/about/mobile/about-wide.jpg');
    }
    .career {
      height: 800px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient-darker),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/career/mobile/career-wide.jpg');
    }
  }

  @media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 480px) and (min-resolution: 192dpi),
  screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .about {
      height: 833px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient-darker),
      var(--add-overlay-mobile),
      url('/assets/images/backgrounds/about/mobile/about-wide@2x.jpg');   
  }
  .career {
    height: 800px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient-darker),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/career/mobile/career-wide@2x.jpg');
  }
} 

  @media screen and (min-width: 768px) {
    .hero {
      height: 530px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay),
      url('/assets/images/backgrounds/hero/tablet/hero.jpg');
    }
    
    .about {
      height: 697px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/about/tablet/about.jpg');
    }
    .contacts {
      height: 691px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient-darker),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/contacts/tablet/contacts.jpg');
    }
    .career {
      height: 720px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient-darker),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/career/tablet/career.jpg');
    } 
    .gallery {
      height: 575px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient-darker),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/gallery/tablet/gallery.jpg');
    }
    .service-atvs {
      height: 621px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/services/tablet/service-01-bg.jpg');
    }
    .service-climbing {
      height: 621px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/services/tablet/service-02-bg.jpg');
    }
    .service-balloon {
      height: 621px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/services/tablet/service-03-bg.jpg');
    }
    .service-skydiving {
      height: 621px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/services/tablet/service-04-bg.jpg');
    }
    .service-rafting {
      height: 621px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/services/tablet/service-05-bg.jpg');
    }

  }
  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay),
      url('/assets/images/backgrounds/hero/tablet/hero@2x.jpg');   
  }
  .about {
      height: 697px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/about/tablet/about@2x.jpg');   
  }
  .contacts {
    height: 691px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient-darker),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/contacts/tablet/contacts@2x.jpg');
  }
  .career {
    height: 720px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient-darker),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/career/tablet/career@2x.jpg');
  }
  .gallery {
    height: 575px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient-darker),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/gallery/tablet/gallery@2x.jpg');
  }
  .service-atvs {
    height: 621px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/services/tablet/service-01-bg@2x.jpg');
  } 
  .service-climbing {
    height: 621px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/services/tablet/service-02-bg@2x.jpg');
  }
  .service-balloon {
    height: 621px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/services/tablet/service-03-bg@2x.jpg');
  }
  .service-skydiving {
    height: 621px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/services/tablet/service-04-bg@2x.jpg');
  }
  .service-rafting {
    height: 621px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/services/tablet/service-05-bg@2x.jpg');
  }
} 

@media screen and (min-width: 1280px) {
    .hero {
      height: 763px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay),
      url('/assets/images/backgrounds/hero/desktop/hero.jpg');
    }
    .about {
      height: 824px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/about/desktop/about.jpg');
    }
    .contacts {
      height: 762px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient-darker),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/contacts/desktop/contacts.jpg');
    }
    .career {
      height: 818px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient-darker),
      url('/assets/images/backgrounds/career/desktop/career.jpg');
    } 
    .gallery {
      height: 788px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient-darker),
      var(--add-overlay-darker),
      url('/assets/images/backgrounds/gallery/desktop/gallery.jpg');
    } 
    .service-atvs {
      height: 779px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-lighter),
      url('/assets/images/backgrounds/services/desktop/service-01-bg.jpg');
    } 
    .service-climbing {
      height: 779px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-lighter),
      url('/assets/images/backgrounds/services/desktop/service-02-bg.jpg');
    } 
    .service-ballon {
      height: 779px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-lighter),
      url('/assets/images/backgrounds/services/desktop/service-03-bg.jpg');
    } 
    .service-skydiving {
      height: 779px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-lighter),
      url('/assets/images/backgrounds/services/desktop/service-04-bg.jpg');
    } 
    .service-rafting {
      height: 779px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: var(--overlay-gradient),
      var(--add-overlay-lighter),
      url('/assets/images/backgrounds/services/desktop/service-05-bg.jpg');
    } 
  }

  @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay),
      url('/assets/images/backgrounds/hero/desktop/hero@2x.jpg');   
  }
  .about {
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-darker),
      url('/assets/images/backgrounds/about/desktop/about@2x.jpg');   
  }
  .contacts {
    height: 762px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient-darker),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/contacts/desktop/contacts@2x.jpg');
  }
  .career {
    height: 818px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient-darker),
    url('/assets/images/backgrounds/career/desktop/career@2x.jpg');
  } 
  .gallery {
    height: 788px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient-darker),
    var(--add-overlay-darker),
    url('/assets/images/backgrounds/gallery/desktop/gallery@2x.jpg');
  } 
  .service-atvs {
    height: 779px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-lighter),
    url('/assets/images/backgrounds/services/desktop/service-01-bg@2x.jpg');
  }.service-climbing {
    height: 779px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-lighter),
    url('/assets/images/backgrounds/services/desktop/service-02-bg@2x.jpg');
  } 
  .service-ballon {
    height: 779px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-lighter),
    url('/assets/images/backgrounds/services/desktop/service-03-bg@2x.jpg');
  } 
  .service-skydiving {
    height: 779px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-lighter),
    url('/assets/images/backgrounds/services/desktop/service-04-bg@2x.jpg');
  } 
  .service-rafting {
    height: 779px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--overlay-gradient),
    var(--add-overlay-lighter),
    url('/assets/images/backgrounds/services/desktop/service-05-bg@2x.jpg');
  } 
}